
.grocery-list {
  background: #fff;
  margin: 20px 0 40px 0;
  position: relative;
  border: 1px solid #e6e6e6;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
  button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    color: inherit;
    -webkit-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    font-smoothing: antialiased;
  }

  .hidden {
    display: none;
  }

  input::-webkit-input-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
  }

  input::-moz-placeholder {
    font-style: italic;
    font-weight: 300;
    color: #e6e6e6;
  }

  .new-item,
  .edit {
    position: relative;
    margin: 0;
    width: 100%;
    font-size: 20px;
    font-family: inherit;
    font-weight: inherit;
    line-height: 1.4em;
    border: 0;
    outline: none;
    color: inherit;
    padding: 6px;
    border: 1px solid #999;
    box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
  }

  .new-item {
    padding: 10px 16px 10px 60px;
    border: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
  }

  .main {
    position: relative;
    z-index: 2;
    border-top: 1px solid #e6e6e6;
    .toggle-all {
      position: absolute;
      top: -45px;
      left: -12px;
      width: 60px;
      height: 34px;
      text-align: center;
      border: none; /* Mobile Safari */
      &:before {
        content: '❯';
        font-size: 22px;
        color: #e6e6e6;
        padding: 10px 27px 10px 27px;
      }
      &:checked:before {
        color: #737373;
      }
    }

    .item-list {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        position: relative;
        font-size: 16px;
        border-bottom: 1px solid #ededed;

        &:last-child {
          border-bottom: none;
        }
        &.editing {
          padding: 0;
          .edit {
            display: block;
            width: 506px;
            margin: 0 0 0 43px;
          }
          .view {
            display: none;
          }
          &:last-child {
            margin-bottom: -1px;
          }
        }
        &.completed{
          label {
            color: #b9b9b9;
            text-decoration: line-through;
          }
        }
        &:hover .destroy {
          display: block;
        }
        .toggle {
          text-align: center;
          width: 40px;
          /* auto, since non-WebKit browsers doesn't support input styling */
          height: auto;
          position: absolute;
          bottom: 0;
          margin: auto 0;
          border: none; /* Mobile Safari */
          -webkit-appearance: none;
          appearance: none;
          &:after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
          }
          &:checked:after {
            content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
          }
        }
        label {
          white-space: pre-line;
          word-break: break-all;
          padding: 15px 60px 15px 15px;
          margin-left: 45px;
          margin-top: 3px;
          margin-bottom: 0px;
          display: block;
          line-height: 0.8;
          transition: color 0.4s;
          font-weight: normal;
        }
        .destroy {
          display: none;
          position: absolute;
          top: 0;
          right: 10px;
          bottom: 0;
          width: 40px;
          height: 35px;
          margin: auto 0;
          font-size: 30px;
          color: #cc9a9a;
          margin-bottom: 11px;
          transition: color 0.2s ease-out;
          &:hover {
            color: #af5b5e;
          }
          &:after {
            content: '×';
          }
        }
        .edit {
          display: none;
        }
      }
    }
  }

  /*
    Hack to remove background from Mobile Safari.
    Can't use it globally since it destroys checkboxes in Firefox
  */
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    .toggle-all,
    .item-list li .toggle {
      background: none;
    }

    .item-list li .toggle {
      height: 40px;
    }

    .toggle-all {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
      -webkit-appearance: none;
      appearance: none;
    }
  }
}
