{% load static %}
{% load pipeline %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">

    <title>{{ OETITLE }}</title>

    <!-- Feed Link -->
    <link href="/feed/recent/"
          rel="alternate"
          type="application/rss+xml"
          title="{{ OETITLE }} Top Recipe Feed"/>

    <!-- Core CSS and Javascript -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://unpkg.com/react@15.3.0/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.0/dist/react-dom.js"></script>
    <script src="https://unpkg.com/react-router/umd/ReactRouter.js"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

    <!-- Custom CSS and Javascript -->
    {% stylesheet 'core' %}
    {% block stylesheet %}{% endblock %}
  </head>

  <body>
    <!-- Fixed navbar -->
    {% include 'base/nav.html' %}

    <!-- Begin page content -->
    <div id="content">
      {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    {% include 'base/footer.html' %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous">
    </script>
    {% block javascript %}{% endblock %}
  </body>
</html>
