
.success {
  padding: 20px 0;
  width :100%;
  h2 {
    font-size: 3em;
    margin: 0;
    text-align: left;
  }
  .row {
    li {
      font-size: 17px;
    }
    p {
      font-size: 17px;
      margin: 10px 20px;
    }
  }
}
