
.recipe-details {
  margin-top: 20px;
  padding: 0;
  .mobile-image {
    display: none;
  }
  .hero-image {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 55%;
    background-position: center center;
    background-size: cover;
    .row {
      position: absolute;
      bottom: 5%;
      left: 5%;
      padding: 10px;
      background: rgba(255,255,255,0.8);
      h3 {
        margin: 10px 0;
        color: #666;
      }
    }
  }
  .banner-img {
    margin-bottom: 20px;
    width: 100%;
  }
  .caption-full {
    padding: 9px;
    color: #333;
  }
  .description {
    margin-top: 20px;
  }
  .edit {
    margin-top: 15px;
    margin-left: 10px;
  }
  .info {
    display: block;
  }
  .recipe-schema {
    padding: 20px;
    .panel-default {
      border-color: transparent;
      box-shadow: 0 0 0 transparent;
      th, td {
        text-align:center;
      }
      .panel-body {
        padding: 15px 0;
      }
    }
    .clear {
      clear: left;
      height: 0;
      line-height: 0;
    }
    .directions, .ingredients  {
      display: block;
      li {
        line-height: 1.7em;
      }
    }
  }
  .ratings {
    img {
      margin-top: 10px;
    }
    .rating-stars {
      font-size: 2.2em;
      text-align: center;
    }
  }
  .title {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .recipe-details {
    .mobile-image {
      display: block;
      img {
        padding: 0 15px 20px 15px;
      }
    }
    .hero-image {
      position: relative;
      background-image: none !important;
      width: 100%;
      height: auto;
      padding-bottom: 0;
      .row {
        position: relative;
        background: transparent;
        padding: 0;
        bottom: 0;
        left: 0;
        h3 {
          color: #3c763d;
        }
      }
    }
  }
}